header{
    background-image: url(../img/pattern.png);
    background-color: hwb(206 17% 11%);
    height: 200px;
    position: relative;
}

.logo{
    width: 20%; 
    position: absolute;
    bottom: 0;
}

h1{
    margin-bottom: 0;
}

#blue{
    color: blueviolet;
}

#smaller{
    font-size: 12px;
    display: block;
}

