header{
    background-image: url(../img/pattern.png);
    background-color: hwb(206 17% 11%);
    height: 170px;
    position: relative;
}

.logo{
    width: 200px; 
    position: absolute;
    bottom: 5px;
}

h1{
    margin-bottom: 0;
}

#blue{
    color: blueviolet;
}

#smaller {
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.reference-photo{
    margin: 0;
    font-size: 12px;
}

